In [23]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

set.seed(8205)

 # Reading in Heart Disease Data

In [38]:

#download.file("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.switzerland.data",
            #  destfile = "./switzerland_data.data")

#read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/switzerland.data/processed.switzerland.data")

cleveland_data <- read_csv("data/processed.cleveland.data", col_names = FALSE) |>
    rename(age      = X1,
           sex      = X2,
           cp       = X3,
           trestbps = X4,
           chol     = X5,
           fbs      = X6,
           restecg  = X7,
           thalach  = X8,
           exang    = X9,
           oldpeak  = X10,
           slope    = X11,
           ca       = X12,
           thal     = X13,
           num      = X14)

cleveland_data

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal
1   63  1   1  145      233  1   2       150     0     2.3     3     0.0 6.0
2   67  1   4  160      286  0   2       108     1     1.5     2     3.0 3.0
3   67  1   4  120      229  0   2       129     1     2.6     2     2.0 7.0
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮   ⋮
301 57  1   4  130      131  0   0       115     1     1.2     2     1.0 7.0
302 57  0   2  130      236  0   2       174     0     0.0     2     1.0 3.0
303 38  1   3  138      175  0   0       173     0     0.0     1     ?   3.0
    num
1   0
2   2
3   1
⋮   ⋮
301 3
302 1
303 0

# Wrangle data

In [39]:
cleveland_data <- cleveland_data |>
    mutate(age      = as.integer(age),
           sex      = as.factor(sex),
           cp       = as.factor(cp),
           trestbps = as.integer(trestbps),
           chol     = as.integer(chol),
           fbs      = as.logical(fbs),
           restecg  = as.factor(restecg),
           thalach  = as.integer(thalach),
           exang    = as.logical(exang),
           oldpeak  = as.double(oldpeak),
           slope    = as.factor(slope),
           ca       = as.integer(ca),
           thal     = as.factor(thal),
           num      = as.factor(num))

cleveland_data

Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”

    age sex cp trestbps chol fbs   restecg thalach exang oldpeak slope ca thal
1   63  1   1  145      233   TRUE 2       150     FALSE 2.3     3     0  6.0
2   67  1   4  160      286  FALSE 2       108      TRUE 1.5     2     3  3.0
3   67  1   4  120      229  FALSE 2       129      TRUE 2.6     2     2  7.0
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮     ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
301 57  1   4  130      131  FALSE 0       115      TRUE 1.2     2      1 7.0
302 57  0   2  130      236  FALSE 2       174     FALSE 0.0     2      1 3.0
303 38  1   3  138      175  FALSE 0       173     FALSE 0.0     1     NA 3.0
    num
1   0
2   2
3   1
⋮   ⋮
301 3
302 1
303 0

In [42]:
target_summary <- cleveland_data |>
    group_by(num) |>
    summarize(n())
target_summary

  num n()
1 0   164
2 1    55
3 2    36
4 3    35
5 4    13